/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Black.ttf") format("truetype"),
       url("../webfonts/Poppins-Bold.ttf") format("truetype"),
       url("../webfonts/Poppins-BoldItalic.ttf") format("truetype"),
       url("../webfonts/Poppins-Black.ttf") format("truetype"),
       url("../webfonts/Poppins-BlackItalic.ttf") format("truetype");
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 12px;
}
body {
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  border: 1px solid black;
  height: 100vh;
}


.headerLeft{
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  /* position: fixed; */
}

#diamond{
  background: black;

  clip-path: polygon(50% 0%,90% 50%,50% 100%,10% 50%);
  /* position: fixed; */
  /* width: 32%; */ /* Fixed Width*/
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic{
  clip-path: polygon(50% 0%,90% 50%,50% 100%,10% 50%);
  background-image: url("../../img/pf1.jpg");
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 98%;
  height: 98%;
  /* position: fixed; */
}


.headerRight{
  flex: 2 1 60%;
  border: 1px solid red;
  display: inline-flex;
  flex-direction: column;
}

.headerRight div{
  border: 1px solid black;
}

.animatedTitle{
  flex: 4 1 100px;
}
.headerInfo{
  flex: 1 1 500px;
}
.socials{
  flex: 3 1 100px;
}
.links{
  flex: 2 1 200px;
}

.leftBanner{
  position: fixed;
  left: 0;
  bottom: 0;
  /* background-color: red; */
  height: 20vh;
  width: 3%;
  border: 1px solid lightblue;
}

.rightBanner{
  position: fixed;
  right: 0;
  top: 0;

  height: 100vh;
  width: 5%;
}

.aboutClass{
  border: 1px solid black;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.aboutLeft{
  border: 1px solid red;
  flex: 1 1 40%;
}

.aboutRight{
  border: 1px solid red;
  flex: 2 1 60%;

  display: flex;
  flex-direction: column;
}

.profile{
 flex: 2;
 border: 1px solid blue;
}

.profileExtras{
 flex 1;
 border: 1px solid blue;
}

.expClass{
  height: 80vh;
  width: 100%;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
}
.sectionTitle{
  flex: 1 1 10%;
  text-align: center;
  border: 1px solid red;
}
.jobContainer{
  flex: 1 1 90%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
.jobPosition,
.jobIcons,
.jobDescription{
  border: 1px solid blue;
}
.jobPosition{
  flex: 1 1 50%;
  display: flex;
  flex-direction: row;
}
.positions{
  flex: 1 1 95%;
  border: 1px solid green;
}
.positions ul{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.positions li{
  flex: 1 1 30%;
  border: 1px solid green;
}
.icons{
  flex: 1 1 5%;
  border: 1px solid green;
}
.jobDescription{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.job{
  flex: 1 1 30%;
  border: 1px solid green;
}

.skillsClass{
  height: 35vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.skillContainer{
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.skillContainer::-webkit-scrollbar {
    display: none;
}
.skillScroll{
  border: 1px solid blue;
  width: 30%;
  height: 80%;
  flex: 0 0 auto;
}

.portfolioClass{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolioNav{
  flex: 1 1 10%;
}
.projectContainer{
  flex: 1 1 90%;
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  height: 30%;
  width: 25%;
  border: 1px solid green;
  margin: 2%;
}

.contactClass{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
/* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
/* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
