/*https://www.tutorialspoint.com/online_css_editor.php Nav Dropdown Menu*/
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 10px;
}
body {
  line-height: 1.4;
  font-family: 'Poppins', Arial, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
height: 100vh;
width: 100%;
border: 2px solid black;
}
.visuals{
  border: 1px solid black;
  height: 60%;
  background-image: url('../../img/blob.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visuals img{
  max-height: 60%;
  max-width: 70%;
}
.headerInfo{
  margin-top: 1%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myName{
  font-size: 6rem;
  font-weight: bold;
}
.animatedTitle{
  display: flex;
  justify-content:center;
  align-items: center;
}
.title{
  font-size: 2rem;
  border: 3px solid black;
}
.scrollAnimation{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.socials{
  display: none;
}
.links{
  display: none;
}
.rightBanner{
  /* display: none; */
}
.menu-btn {
   background-color: #7e32d4;
   color: white;
   padding: 16px;
   font-size: 20px;
   font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border: none;
}
.dropdown-menu {
   position: relative;
   display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   background-color: #017575;
   min-width: 160px;
   z-index: 1;
}
.links {
   color: rgb(255, 255, 255);
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 18px;
   font-weight: bold;
   border-bottom: 1px solid black;
}
.links:hover {
   background-color: rgb(8, 107, 46);
}
.dropdown-menu:hover .menu-btn {
   background-color: #3e8e41;
}

main{
  height: 100vh;
  width: 100%;
  border: 1px solid black;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
