/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* @font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Black.ttf") format("truetype"),
       url("../webfonts/Poppins-Bold.ttf") format("truetype"),
       url("../webfonts/Poppins-Medium.ttf") format("truetype"),
       url("../webfonts/Poppins-Regular.ttf") format("truetype"),
       url("../webfonts/Poppins-BoldItalic.ttf") format("truetype"),
       url("../webfonts/Poppins-Black.ttf") format("truetype"),
       url("../webfonts/Poppins-BlackItalic.ttf") format("truetype");
} */

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 12px;
}
body {
  line-height: 1.4;
  font-family: 'Poppins', Arial, sans-serif;
  /* font-weight: 200; */
  /* padding-right: 5%; */
  background-color: #1a1f2c;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  /* border: 1px solid black; */
  height: 100vh;
  background-color: inherit;
  /* background-image: url('../../img/bg1.jpg'); */
  /* background-position: center; */
  /* background-size: contain; */
}


.headerLeft{
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  /* position: fixed; */
}

#diamond{
  background: white;

  clip-path: polygon(50% 0%,90% 50%,50% 100%,10% 50%);
  /* position: fixed; */
  /* width: 32%; */
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic{
  clip-path: polygon(50% 0%,90% 50%,50% 100%,10% 50%);
  background-image: url("../../img/pf1.jpg");
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 95%;
  /* position: fixed; */
}


.headerRight{
  flex: 2 1 60%;
  /* border: 1px solid red; */
  display: inline-flex;
  flex-direction: column;
}

.headerRight div{
  /* border: 1px solid black; */
}

.animatedTitle{
  flex: 1 1 10%;
  display: flex;
  justify-content: flex-end;
  margin-right: 9%;
}
.title{
  /* border: 1px solid black; */
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
}
.headerInfo{
  flex: 1 1 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.smallName{
  /* border: 1px solid black; */
  font-size: 1.5rem;
  color: white;
}
.smallName span{
  color: orange;
  font-size: 2rem;
  font-weight: bold;
}
.firstName,
.lastName{
  color: white;
  /* border: 1px solid black; */
  font-size: 10rem;
  margin-left: 5%;
  font-weight: bold;
  border-bottom: 3px solid orange;
  width: 43%;
  /* vertical-align: bottom; */
  /* font-weight: */
}
.lastName{
  margin-left: 20%;
  width: 37%;
}
.socials{
  flex: 1 1 10%;
  display: flex;
}
.socials ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: flex-start;
  padding-left: 20%;
  align-items: center;
}
.socials li{
  margin: 1%;
  /* border: 1px solid red; */
  width: 10%;
  text-align: left;

}
.socials i{
  font-size: 3rem;
  color: white;
}
.socials i:hover{
  color: orange;
}
.links{
  flex: 1 1 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links input{
  margin: 1%;
  width: 18%;
  height: 35%;
  border-radius: 7px;
  background-color: #3a3f4a;
  border: none;
  color: white;
}
.links input:hover{
  background-color: slategray;
}

.leftBanner{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: transparent;
  height: 20vh;
  width: 3%;

  /* border: 1px solid lightblue; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.leftBanner li{
  font-size: 2rem;
  margin: 1%;
  color: white;
}
.leftBanner li i:hover{
  color: orange;
}
.bannerName{
  color: orange;
  font-weight: bold;
}
.rightBanner{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid lightblue; */
}

.rightBanner li{
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 2.5rem;
  text-align: center;
}
.rightBanner li i:hover{
  color: orange;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.aboutClass{
  /* border: 1px solid black; */
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;

}

.aboutLeft{
  /* border: 1px solid red; */
  flex: 1 1 40%;
}

.aboutRight{
  /* border: 1px solid red; */
  flex: 2 1 60%;

  display: flex;
  flex-direction: column;
}

.profile{
 flex: 2 1 80%;;
 /* border: 1px solid blue; */
}
.profile h3{
  /* border: 1px solid blue; */
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1%;
}
.profile h4{
  /* border: 1px solid blue; */
  font-size: 2rem;
  text-align: center;
  margin-top: 3%;
}
.profile p{
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2%;
  padding-right: 9%;
  line-height: 1.8;
}

.profileExtras{
 flex: 1 1 20%;;
 /* border: 1px solid blue; */
 display: flex;
 flex-direction: row;
}
.profileExtras div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileExtras p{
  font-size: 1.3rem;
}
.profileExtras span{
  font-size: 1.7rem;
  color: orange;
}
.extrasLeft{
  flex: 1;
  /* border: 1px solid green; */

}
.extrasRight{
  flex: 1;
  /* border: 1px solid green; */
}

.expClass{
  height: 100vh;
  padding-top: 5%;
  width: 100%;
  /* border: 1px solid black; */
  display: inline-flex;
  flex-direction: column;
}
.sectionTitle{
  flex: 1 1 10%;
  /* border: 1px solid red; */
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experienceTitle{
  padding-right: 8%;
}
.jobContainer{
  flex: 1 1 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.jobPosition{
  flex: 1 1 40%;
  display: flex;
  flex-direction: row;
}
.positions{
  flex: 1 1 95%;
  /* border: 1px solid green; */
}
.positions ul{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.positions li{
  flex: 1 1 30%;
  /* border: 1px solid green; */
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}
.icons{
  flex: 1 1 5%;
  border-right: 3px solid orange;
  /* border: 1px solid green; */
}
.icons ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.icons li{
  /* border: 1px solid red; */
  width: 90%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
}
.icons i{
  /* border: 1px solid black; */
  font-size: 1.2rem;
  color: white;
}
.jobDescription{
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}
.job{
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  padding-left: 1%;
}
.job h4{
  font-size: 1.3rem;
  font-weight: 500;
}
.job ul{
  padding-top: 2%;
}
.job li{
  font-size: 1.2rem;
  list-style:  inside;
  margin-top: 1%;
}

.skillsClass{
  height: 35vh;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.skillContainer{
  flex: 1 1 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.skillContainer::-webkit-scrollbar {
    display: none;
}
.skillScroll{
  /* border: 1px solid blue; */
  width: 30%;
  height: 80%;
  flex: 0 0 auto;
}

.portfolioClass{
  height: 90vh;
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolioNav{
  flex: 1 1 10%;
  display: none;
}
.portfolioNav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.portfolioNav li{
  margin: 2%;
  /* border: 1px solid green; */
  font-size: 1.3rem;
}
.projectContainer{
  flex: 1 1 90%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  height: 30%;
  width: 22%;
  /* border: 1px solid black; */
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project:hover .mask{
  visibility: visible;
}
.mask{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 165, 0, 0.6);
  visibility: hidden;
}
.project span{
  font-size: 1.3rem;
}
.project i{
  padding-top: 1%;
  font-size: 1.3rem;
}
.todo{
  background-image: url("../../img/todo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nyt{
  background-image: url("../../img/nyt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.lvlgnd{
  background-image: url("../../img/levelGround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.horoscope{
  background-image: url("../../img/horoscope.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.huffpo{
  background-image: url("../../img/huffpo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.jwlia{
  background-image: url("../../img/jwlia.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contactClass{
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactClass h3{
  /* border: 1px solid blue; */
  flex: 1 1 15%;
}
.contactClass span{
  /* border: 1px solid blue; */
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
}
.contactClass p{
  /* border: 1px solid blue; */
  flex: 1 1 5%;
  font-size: 1.1rem;
  color: orange;
}
.contactClass form{
  /* border: 1px solid blue; */
  flex: 1 1 70%;
  padding-top: 2%;
  width: 45%;
  /* border: 1px solid blue; */
}
.contactClass div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid blue; */
  height: 10%;
}
.contactClass input{
  /* border: 1px solid red; */
  /* margin: 5%; */
  display: inline-block;
}
.visitorName{
  width: 45%;
  height: 100%;
  border: none;
  border-bottom: 1px solid orange;
  outline: none;
  background-color: inherit;
  color: white;
}
.visitorContact{
  width: 45%;
  height: 100%;
  border: none;
  border-bottom: 1px solid orange;
  outline: none;
  background-color: inherit;
  color: white;
}
.contactClass .visitorMsgDiv{
  height: 60%;
  padding-top: 1%;
}
.visitorMessage{
  width: 95%;
  height: 100%;
  text-align: left;
  resize: none;
  border: none;
  border-bottom: 1px solid orange;
  outline: none;
  background-color: inherit;
  color: white;
}
.contactClass .visitorSubmitDiv{
  height: 15%;
}
.visitorSubmit{
  height: 70%;
  width: 20%;
  border-radius: 5px;
  background-color: #3a3f4a;
  border: none;
  color: white;
}
.visitorSubmit:hover{
  background-color: slategray;
}
footer {
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
border-top: 1px solid orange;
}

#skills{
  display: none;
}
.query{
  display: none;
}
.clear{
  display: none;
}
/*
Light:
whitesmoke with a blue tint for the main background?
deeper sky blue f or buttons
white or grey social media.
button blue for the fixed right and left banner
white or grey text
black or button blue section titles
 */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 1000px) {
  html{
    font-size: 11px;
  }
  header{
    padding-right: 5%;
  }
  .jobPosition{
    display: none;
  }
  .query{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .profileExtras{
    flex-direction: column;
  }
  #diamond{
    width: 90%;
  }
}

@media (max-width: 850px) {
  .project{
    width: 40%;
    height: 30%;
  }
  .contactClass form{
    width: 55%;
  }
  #diamond{
    width: 100%;
  }
}

@media (max-width: 800px) {
  header{
    padding-right: 0;
  }
  .aboutLeft{
    display: none;
  }
  .profileExtras{
    flex-direction: row;
  }
  .headerLeft{
    display: none;
  }
  #diamond{
    display: none;
  }
  .rightBanner{
    width: 8%;
  }
  .leftBanner{
    width: 5%;
  }
  .job{
    padding-right: 3%;
  }
}

@media (max-width: 650px) {
  html{
    /* font-size: 10px; */
  }
  .contactClass form{
    width: 65%;
  }
  .leftBanner{
    display: none;
  }
  .portfolioClass{
    height: 30vh;
  }
  .projectContainer{
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .projectContainer::-webkit-scrollbar {
      display: none;
  }
  .horoscope,
  .jwlia{
    display: flex;
  }
  .project{
    width: 40%;
    height: 80%;
    flex: 0 0 auto;
  }
  .clear{
    display: flex;
    visibility: hidden;
  }
}

@media (max-width: 550px) {
  header{
    padding-right: 5%;
  }
  .job{
    padding-right: 5%;
  }
  .project{
    width: 50%;
  }
  .contactClass p{
    display: none;
  }
}

@media (max-width: 500px) {
  html{
    font-size: 10px;
  }
  .contactClass form{
    width: 75%;
  }
  .project{
    width: 65%;
  }
}

@media (max-width: 500px) {
  .profileExtras{
    display: none;
  }
  .rightBanner{
    width: 10%;
  }
  header{
    padding-right: 10%;
  }
}

@media (max-width: 400px) {
  .contactClass form{
    width: 80%;
  }
  .rightBanner{
    width: 14%;
  }
}
@media (max-width: 320px) {
  htm{
    font-size: 8px;
  }
}
@media (max-height: 650px) {
  .profileExtras{
    display: none;
  }
  .plexim{
    display: none;
  }
}

@media (max-height: 500px) {
  html{
    font-size: 9px;
  }
}
